In [1]:
from bs4 import BeautifulSoup

In [2]:
!pip install lxml

Requirement already satisfied: lxml in c:\users\hp\appdata\local\programs\python\python311\lib\site-packages (4.9.2)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: C:\Users\hp\AppData\Local\Programs\Python\Python311\python.exe -m pip install --upgrade pip

In [3]:
import lxml

In [17]:
import pandas as pd
from bs4 import BeautifulSoup

# Read the XML file
with open("vizianagaram.kml", "r") as file:
    content = file.read()

# Parse the XML content with BeautifulSoup
soup = BeautifulSoup(content, "xml")

# Initialize lists to store extracted data
names = []
latitudes = []
longitudes = []

# Extract data from <Placemark> tags
placemarks = soup.find_all("Placemark")
for placemark in placemarks:
    name = placemark.find("name").text.strip()
    names.append(name)

    # Extract coordinates from <Point> tag
    point = placemark.find("Point")
    coordinate = point.find("coordinates").text.strip()

    # Split coordinates into latitude and longitude
    latitude, longitude, _ = coordinate.split(",")
    latitudes.append(latitude)
    longitudes.append(longitude)

# Create a DataFrame
data = {"Name": names, "Latitude": latitudes, "Longitude": longitudes}
df = pd.DataFrame(data)
df

                       Name    Latitude   Longitude
0             Ramanarayanam  83.3695218  18.0748673
1      Ramatheertham Temple  83.4917774  18.1673659
2              Bobbili Kota  83.3580009    18.57422
3  Vizianagaram Clock Tower  83.4093915  18.1160076

In [18]:
df["City"]="Vizianagaram"
df

                       Name    Latitude   Longitude          City
0             Ramanarayanam  83.3695218  18.0748673  Vizianagaram
1      Ramatheertham Temple  83.4917774  18.1673659  Vizianagaram
2              Bobbili Kota  83.3580009    18.57422  Vizianagaram
3  Vizianagaram Clock Tower  83.4093915  18.1160076  Vizianagaram

In [19]:
df.to_csv("vizianagaram.csv")

In [57]:
import numpy as np
places_lat_long = df[['Latitude','Longitude']].values.tolist()
places_lat_long = np.array(places_lat_long)

In [22]:
import pandas as pd

# Specify the file paths of the CSV files
file_paths = ['vizag.csv', 'araku.csv', 'srikakulam.csv', 'vizianagaram.csv']

# Initialize an empty list to store the dataframes
dfs = []

# Read each CSV file and append it to the list
for file_path in file_paths:
    df = pd.read_csv(file_path)
    dfs.append(df)

# Concatenate all dataframes into a single dataframe
merged_df = pd.concat(dfs, ignore_index=True)

# Print the merged dataframe
merged_df

,Unnamed: 0,Name,Latitude,Longitude,City
0,0,Sampath Vinayaka Temple Road,83.312714,17.724550,Visakhapatnam
1,1,Sri Varahalakshmi Narasimha Swamy Vari Devasth...,83.250532,17.766352,Visakhapatnam
2,2,Ramakrishna Beach,83.323658,17.714162,Visakhapatnam
3,3,Rushikonda Beach,83.385115,17.782520,Visakhapatnam
4,4,Bheemili Beach,83.455852,17.890253,Visakhapatnam
5,5,Kailasagiri,83.341802,17.749211,Visakhapatnam
6,6,Sagar Nagar Beach,83.360406,17.761799,Visakhapatnam
7,7,Y S R View Point -I love vizag,83.353803,17.756382,Visakhapatnam
8,8,"Sri Venkateswara Swamy Devalayam, TTD",83.377159,17.778897,Visakhapatnam
9,9,Rama Naidu Studios,83.397472,17.809211,Visakhapatnam
10,10,VMRDA INS Kursura Submarine Museum,83.330095,17.717246,Visakhapatnam
11,11,TU 142 Aircraft Museum,83.329861,17.717986,Visakhapatnam
12,12,Sea Harrier Museum,83.328265,17.717200,Visakhapatnam
13,13,Indira Gandhi Zoological Park,83.344190,17.768812,Visakhapatnam
14,14,Dolphin's Nose Lighthouse,83.292588,17.676469,Visakhapatnam
15,15,Yarada Beach,83.269230,17.654937,Visakhapatnam
16,16,Victory At Sea War Memorial,83.332238,17.718678,Visakhapatnam
17,17,Tenneti Park Beach,83.350553,17.747658,Visakhapatnam
18,18,Thotlakonda Ancient Buddhist Site,83.409174,17.828511,Visakhapatnam
19,19,Mudasarlova park,83.299148,17.762938,Visakhapatnam
20,20,ALL INDIA TOURIST PLACES INFORMER,83.306674,17.722893,Visakhapatnam
21,21,Bojjanna Konda & Ligala konda at sankaram,83.016001,17.710317,Visakhapatnam
22,22,Devipuram,83.083052,17.765378,Visakhapatnam
23,23,Kondakarla Ava,83.000833,17.605000,Visakhapatnam
24,24,Nookambika Temple,83.010840,17.680949,Visakhapatnam
25,25,Sri Kanaka Maha Lakshmi Temple,83.297211,17.699672,Visakhapatnam
26,0,Borra Caves,83.039699,18.280693,Araku
27,1,Padmapuram Gardens,82.879877,18.336653,Araku
28,2,Chaparai Water Cascade,82.797658,18.292333,Araku
29,3,Araku Tribal Museum,82.878474,18.323525,Araku
30,4,Katiki Waterfalls,82.998849,18.279214,Araku
31,5,Ananthagiri Water Falls,83.008381,18.225971,Araku
32,6,Vanajangi Hills,82.648188,18.033812,Araku
33,7,Matsyagundam,82.623695,18.166301,Araku
34,8,Lambasingi,82.492196,17.818596,Araku
35,9,Coffee Museum,82.877758,18.322575,Araku
36,0,Sri Sri Sri Suryanarayana Swamy Temple,83.913549,18.288016,Srikakulam
37,1,Sri Kurmanatha swamy Temple,84.006544,18.269987,Srikakulam
38,2,Salihundam Buddhist Heritage Site,84.042928,18.333909,Srikakulam
39,3,Srimukhalingeswara Temple,83.963547,18.594872,Srikakulam
40,4,Mandasa Vasudeva Perumal Temple.,84.459024,18.880443,Srikakulam
41,5,Kalingapatnam Beach,84.127519,18.337017,Srikakulam
42,0,Ramanarayanam,83.369522,18.074867,Vizianagaram
43,1,Ramatheertham Temple,83.491777,18.167366,Vizianagaram
44,2,Bobbili Kota,83.358001,18.574220,Vizianagaram
45,3,Vizianagaram Clock Tower,83.409391,18.116008,Vizianagaram

In [25]:
merged_df

,Name,Latitude,Longitude,City
0,Sampath Vinayaka Temple Road,83.312714,17.724550,Visakhapatnam
1,Sri Varahalakshmi Narasimha Swamy Vari Devasth...,83.250532,17.766352,Visakhapatnam
2,Ramakrishna Beach,83.323658,17.714162,Visakhapatnam
3,Rushikonda Beach,83.385115,17.782520,Visakhapatnam
4,Bheemili Beach,83.455852,17.890253,Visakhapatnam
5,Kailasagiri,83.341802,17.749211,Visakhapatnam
6,Sagar Nagar Beach,83.360406,17.761799,Visakhapatnam
7,Y S R View Point -I love vizag,83.353803,17.756382,Visakhapatnam
8,"Sri Venkateswara Swamy Devalayam, TTD",83.377159,17.778897,Visakhapatnam
9,Rama Naidu Studios,83.397472,17.809211,Visakhapatnam
10,VMRDA INS Kursura Submarine Museum,83.330095,17.717246,Visakhapatnam
11,TU 142 Aircraft Museum,83.329861,17.717986,Visakhapatnam
12,Sea Harrier Museum,83.328265,17.717200,Visakhapatnam
13,Indira Gandhi Zoological Park,83.344190,17.768812,Visakhapatnam
14,Dolphin's Nose Lighthouse,83.292588,17.676469,Visakhapatnam
15,Yarada Beach,83.269230,17.654937,Visakhapatnam
16,Victory At Sea War Memorial,83.332238,17.718678,Visakhapatnam
17,Tenneti Park Beach,83.350553,17.747658,Visakhapatnam
18,Thotlakonda Ancient Buddhist Site,83.409174,17.828511,Visakhapatnam
19,Mudasarlova park,83.299148,17.762938,Visakhapatnam
20,ALL INDIA TOURIST PLACES INFORMER,83.306674,17.722893,Visakhapatnam
21,Bojjanna Konda & Ligala konda at sankaram,83.016001,17.710317,Visakhapatnam
22,Devipuram,83.083052,17.765378,Visakhapatnam
23,Kondakarla Ava,83.000833,17.605000,Visakhapatnam
24,Nookambika Temple,83.010840,17.680949,Visakhapatnam
25,Sri Kanaka Maha Lakshmi Temple,83.297211,17.699672,Visakhapatnam
26,Borra Caves,83.039699,18.280693,Araku
27,Padmapuram Gardens,82.879877,18.336653,Araku
28,Chaparai Water Cascade,82.797658,18.292333,Araku
29,Araku Tribal Museum,82.878474,18.323525,Araku
30,Katiki Waterfalls,82.998849,18.279214,Araku
31,Ananthagiri Water Falls,83.008381,18.225971,Araku
32,Vanajangi Hills,82.648188,18.033812,Araku
33,Matsyagundam,82.623695,18.166301,Araku
34,Lambasingi,82.492196,17.818596,Araku
35,Coffee Museum,82.877758,18.322575,Araku
36,Sri Sri Sri Suryanarayana Swamy Temple,83.913549,18.288016,Srikakulam
37,Sri Kurmanatha swamy Temple,84.006544,18.269987,Srikakulam
38,Salihundam Buddhist Heritage Site,84.042928,18.333909,Srikakulam
39,Srimukhalingeswara Temple,83.963547,18.594872,Srikakulam
40,Mandasa Vasudeva Perumal Temple.,84.459024,18.880443,Srikakulam
41,Kalingapatnam Beach,84.127519,18.337017,Srikakulam
42,Ramanarayanam,83.369522,18.074867,Vizianagaram
43,Ramatheertham Temple,83.491777,18.167366,Vizianagaram
44,Bobbili Kota,83.358001,18.574220,Vizianagaram
45,Vizianagaram Clock Tower,83.409391,18.116008,Vizianagaram

In [58]:
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=int(5), random_state=0).fit(places_lat_long)
group = list(kmeans.labels_)

C:\Users\hp\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\cluster\_kmeans.py:870: FutureWarning: The default value of `n_init` will change from 10 to 'auto' in 1.4. Set the value of `n_init` explicitly to suppress the warning
  warnings.warn(

In [59]:
df['cluster'] = pd.Series(group, index=df.index)

In [60]:
df['Latitude'] = df['Latitude'].astype(float)
df['Longitude'] = df['Longitude'].astype(float)
mean_lat_long_by_group = df.groupby('cluster').mean()
mean_lat_long_by_group

C:\Users\hp\AppData\Local\Temp\ipykernel_15200\1566521098.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  mean_lat_long_by_group = df.groupby('cluster').mean()

          Latitude  Longitude
cluster
0        80.590604  16.529119
1        83.406585  17.817018
2        82.401936  17.283220
3        82.959963  18.301322
4        83.290280  17.706794

In [61]:
df

,Name,Latitude,Longitude,cluster
0,VMRDA INS Kursura Submarine Museum,83.330095,17.717246,4
1,Ramakrishna Beach,83.323658,17.714162,4
2,Simhachalam,83.235832,17.771157,4
3,ARAKU VALLEY,82.880227,18.321950,3
5,Dolphin's Nose Lighthouse,83.292588,17.676469,4
6,Yarada Beach,83.269230,17.654937,4
7,Rushikonda Beach,83.385115,17.782520,1
8,"TTD, Rushikonda,vizag",83.378788,17.778282,1
9,Bheemili Beach,83.455852,17.890253,1
10,Sri Veera Venkata Sathyanarayana Swamy Vari De...,82.401936,17.283220,2
11,Sri Durga Malleswara Swamy Varla Devasthanam,80.605864,16.515405,0
12,Kondapalli Fort,80.530649,16.625426,0
13,Bhavani Island,80.573008,16.523107,0
14,Undavalli Caves,80.582190,16.497141,0
15,Prakasam Barrage,80.605152,16.507406,0
16,Borra Caves,83.039699,18.280693,3
17,Moghalrajpuram Caves,80.646759,16.506229,0

In [62]:
from scipy.spatial.distance import cdist
distance_matrix = cdist(
    mean_lat_long_by_group.values, 
    mean_lat_long_by_group.values
)

df_distance_matrix = pd.DataFrame(distance_matrix)
df_distance_matrix

          0         1         2         3         4
0  0.000000  3.096520  1.962038  2.958812  2.945365
1  3.096520  0.000000  1.137656  0.658803  0.160238
2  1.962038  1.137656  0.000000  1.161001  0.984160
3  2.958812  0.658803  1.161001  0.000000  0.680127
4  2.945365  0.160238  0.984160  0.680127  0.000000

In [63]:
starting_point =  2#@param {type:"integer"}
cur_index = starting_point

seq = [cur_index]
while len(seq) < len(list(df_distance_matrix.keys())):
    nearest_clusters = list(df_distance_matrix[cur_index].sort_values().index)
    for cluster_id in nearest_clusters:
        if cluster_id != cur_index and cluster_id not in seq:
            seq.append(cluster_id)
            cur_index = cluster_id
            break

replace_group_to_day = {}

for i in range(0, len(seq)):
    replace_group_to_day[seq[i]] = i

print(' -> '.join(str(x) for x in seq))

df['days'] = df['cluster']
df['days'].replace(replace_group_to_day, inplace=True)
df['days'] += 1

2 -> 4 -> 1 -> 3 -> 0